#Database
DATABASE_URL=database_url_here

#JWT/Auth
SECRET_KEY=change-me-to-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

#AI/Embedding
AI_API_KEY=your-openai-api-key-here
EMBEDDING_MODEL=your-chosen-embedding-model-here

#Redis/Cache
REDIS_HOST=your-redis-host-here
CACHE_TTL_SECONDS=your-cache-ttl-in-seconds-here

#APPг
APP_NAME=YourAppName
APP_VERSION=your-app-version-here
DEBUG=your-debug-setting-here